<!DOCTYPE html>

<html lang="en">
    
  <head>

    <%-include('./partials/head') %>

      <title>All the Bosses!</title>

  </head>

  <body>  
  
    <%-include('./partials/nav') %>

    <span><a href="/createOnemmBoss">Create a new Boss</a></span><br><br>


    <div class="all_bosses_container">

      <% mmBoss.forEach( (bs) => { %>
      
        <a href="/onemmBoss/<%=bs.Name%>">

          <img src="../public/images/<%=bs.Name%>.png" onerror="this.src='../public/images/Dr_Wily.png'"alt="<%=bs.Name%>">

        </a>

      <% }) %>

    </div>
    
    <%-include('./partials/stars-bg') %>


  </body>
  
</html>